# ide
.idea
.idea/**
*/.idea/**

# build
build/
target/
output/**
**/build
**/target

*.class
*/.classpath
*/.project
.classpath
.project

# temp
tmp_deb_control/
tmp_rpm_control/
tmp_sh/
.cache/**

# logs
logs/
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]

#data
data/

# env
**/.env
**/*.env

*.toDelete
*~
*.iml
.gwt/
.settings/
/bin
bin/
**/dependency-reduced-pom.xml
pom.xml.versionsBackup
.DS_Store
**/.gradle
**/local.properties
**/Californium.properties
**/Californium3.properties
.instance_id
rebuild-docker.sh
*/.run/**
.run/**
.run
